/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

h3, h4, h5 {
	text-transform: uppercase;
}

.entry-title h3 {
	font-size: 1.2rem;
	letter-spacing: normal;
}

.feature-box {
	border-bottom: 1px solid #E5E5E5;
	padding: 0px 0px 40px 0px;
}
.fbox-content p {
	color: #555;
	font-size: 1rem;
}
.fbox-content h4 {
	color: #EF7800;
	margin: 0px 0px 0px 0px;
	font-size: 1.2rem;
}
.team-title h4 {
	letter-spacing: normal;
}
.promo-custom-bg {
	background-color: #d8d0ca;
}

.bg-custom-img {
	background-image: url('../images/bgbloqueescuela.jpg');
	background-repeat: repeat;
	background-attachment: fixed;
}
