/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


.promo-custom-bg {
	background-color: #d8d0ca;
}

.bg-custom-img {
	background-image: url('../images/bgbloqueescuela.jpg');
	background-repeat: repeat;
	background-attachment: fixed;
}